body {
  color: lavender;
  background-color: black;
  font-family: "Lucida Sans Typewriter", "Courier New", monospace;
  padding: 0rem 3rem;
}

h1 {
  font-size: 3rem;
  text-align: left;
}

/* ----- RPS BUTTONS ----- */

.rps-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.rps-buttons > form {
  padding: 2rem;
}

.rps-buttons input[type="image"] {
  width: 10rem;
  height: 10rem;
  border: 2px solid lavender;
}

/* ----- RESULT BOX ----- */

.output-container {
  background-color: black;
  /* width: 50rem;
  height: 15rem; */
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.events-container {
  margin: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col1,
.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 8rem;
  font-weight: 700;
  font-size: 1rem;
}

.result {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  margin-top: 0;
}